// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}

//header mixins
@mixin section-header($color) {
  font-weight: bold;
  position: relative;
  text-align: left;
  color: $color;
  margin: 1rem 0;

  &::before {
    content: "";
    position: absolute;
    top: 2.3rem;
    bottom: 0;
    border-bottom: 5px solid $color;
    width: 2rem;
  }
}
